<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.offcn.usual.dao.TaskDao">
    <select id="showAll" resultMap="taskMap">
        select * from task
    </select>
    <resultMap id="taskMap" type="com.offcn.usual.bean.TaskBean">
        <id column="id" property="id"/>
        <result property="empFk2" column="emp_Fk2"/>
        <association property="employee" javaType="com.offcn.auth.bean.EmployeeBean" column="emp_Fk2"
                     select="com.offcn.auth.dao.EmployeeDao.getEmpById"/>
    </resultMap>
    <delete id="delTaskById">
        delete from task where id in
        <foreach collection="array" open="(" close=")" item="pid" separator=",">
            #{pid}
        </foreach>
    </delete>
    <insert id="commit" parameterType="com.offcn.usual.bean.TaskBean">
        insert into task (starttime, endtime, level, remark, fun_fk, emp_fk2, emp_fk, tasktitle, status) values
        (#{starttime},#{endtime},#{level},#{remark},#{funFk},#{empFk2},#{empFk},#{tasktitle},0)
    </insert>
    <select id="getTaskById" resultMap="taskMap">
        select * from task where emp_fk2 = #{0}
    </select>
</mapper>